<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Notepad_Light.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Notepad_Light.Properties.Settings>
            <setting name="FileMRU" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="UsePasteUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BulletFirstIndent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOption" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NewFileFormat" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="Template1" serializeAs="String">
                <value>Template 1</value>
            </setting>
            <setting name="Template2" serializeAs="String">
                <value>Template 2</value>
            </setting>
            <setting name="Template3" serializeAs="String">
                <value>Template 3</value>
            </setting>
            <setting name="Template4" serializeAs="String">
                <value>Template 4</value>
            </setting>
            <setting name="Template5" serializeAs="String">
                <value>Template 5</value>
            </setting>
            <setting name="RemoveTempFilesOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseImageTransparency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeDateTimeWithTemplates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasteRtfUnformatted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimersList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="ClearTimersOnExit" serializeAs="String">
                <value>False</value>
            </setting>
        </Notepad_Light.Properties.Settings>
    </userSettings>
</configuration>